/* The animation code */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.speckle-button-vote {
  cursor: pointer;
  background: url('./twitter/vote.png');
  background-repeat: no-repeat;
  background-position: center!important;
  background-size: 18px 18px;
  width: 20px;
  height: 20px;
  padding-bottom: 6px;
  font-size:9px;
  border-radius: 5px;
  border: none;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  transition-property: box-shadow;
  transition-duration: 0.2s;
}

.speckle-button-vote:hover {
  box-shadow: 0 0 0 10px rgba(243, 84, 109, 0.2);
}

.speckle-button-tip {
   cursor: pointer;
   background: url('./twitter/tip.png');
   background-repeat: no-repeat;
   background-position: center!important;
   background-size: 18px 18px;
   width: 20px;
   height: 20px;
   padding-bottom: 6px;
   font-size:9px;
   border-radius: 5px;
   border: none;
   animation-name: fadeIn;
   animation-duration: 0.5s;
   transition-property: box-shadow;
   transition-duration: 0.2s;
 }

.speckle-button-tip:hover {
  box-shadow: 0 0 0 10px rgba(254, 195, 0, 0.2);
}
